<table>
  <tr>
    <th>I d</th>
    <th>Naam</th>
    <th>Geslacht</th>
    <th>Taal</th>
    <th>Ip adres</th>
    <th>Keuze</th>
    <th>Extra's</th>
  </tr>
  {% for keuze in keuzes %}
  <tr>
    <td>
    </td>
  </tr>
  {% endfor %}
</table>
